<!DOCTYPE html>
<html lang="en">

<head>
    <title>Signup</title>
</head>

<body>
    <h1>SIGNUP</h1>
    <form action="/signup" method="post">
        <input name="username" id="" type="text">
        <input name="password" id="" type="text">
        <input type="submit" value="Guardar">
    </form>
</body>

</html>