<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login</title>
</head>

<body>
    <h1>LOGIN</h1>
    <form action="/login" method="post">
        <input name="username" id="" type="text">
        <input name="password" id="" type="password">
        <input type="submit" value="Enviar">
    </form>
</body>

</html>